/* DesignMock stylesheet entrypoint.
   Edit the module files instead of this file. */
@import url("./design-mock.tokens.css");
@import url("./design-mock.base.css");
@import url("./design-mock.familiars.css");
@import url("./design-mock.core.css");
@import url("./design-mock.stat-bonuses.css");
@import url("./design-mock.equipment.css");
@import url("./design-mock.progression.css");
